<.header>
  Edit <%= @task.title %>
  <:subtitle>Update an existing task.</:subtitle>
</.header>

<.task_form changeset={@changeset} action={~p"/#{@task}"} />

<.back navigate={~p"/"}>Back to tasks</.back>
