<.header>
  <%= @task.title %>
  <:actions>
    <.link href={~p"/#{@task}/edit"}>
      <.button>Edit task</.button>
    </.link>
  </:actions>
</.header>

<.list>
  <:item title="Details"><%= if @task.details != nil, do: @task.details, else: "N/A" %></:item>
  <:item title="Status"><%= format_status(@task.status) %></:item>
</.list>

<.back navigate={~p"/"}>Back to tasks</.back>
