<.header>
  Task <%= @task.id %>
  <:subtitle>This is a task record from your database.</:subtitle>
  <:actions>
    <.link href={~p"/#{@task}/edit"}>
      <.button>Edit task</.button>
    </.link>
  </:actions>
</.header>

<.list>
  <:item title="Title"><%= @task.title %></:item>
  <:item title="Details"><%= @task.details %></:item>
  <:item title="Status"><%= @task.status %></:item>
</.list>

<.back navigate={~p"/"}>Back to tasks</.back>
